.bg-content{
  background-color: #ededed;
}
a {
  text-decoration: none!important;
}
.sidebar-container {
  position: fixed;
  border-right: 2px #000;
  background-color: #fff;
  top: 55px;
  right: 0;
  left: 0;
  z-index: 1;
  width: 8.33333333%;
}

.sidebar-item{
  padding: 14px 0px;
  align-items: center;
  text-align: center;
  transition: 0.4s;
  border-bottom: 2px solid #ededed;
}

.sidebar-item:hover{
  background-color: #00c20a2b;
  transition: 0.4s;
}

.sidebar-item h6{
  text-decoration: none!important;
  color: #000;
  margin-bottom: 0px;
}

.sidebar-item svg{
  margin-bottom: 8px;
  font-size: 32px;
  color: #00c20a;
}

.container-inner {
  min-height: 80vh;
}

.main-content{
  background-color: white;
  padding: 24px;
  margin: 12px;
}


/* .icon {
  font-size: 34px;
  color: #222;
} */